body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #dcfff7;
    width: 100%;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
    width: 90%; /* Điều chỉnh chiều rộng theo màn hình*/
    padding-top: 2vh;
    height: 100%;
}

#canvas-container {
    position: relative;
    width: 80vw;    /* Chiều rộng linh hoạt */
    height: 80vw;   /* Chiều cao linh hoạt, giữ tỷ lệ vuông */
    max-width: 500px;   /* Giới hạn tối đa */
    max-height: 500px;  /* Giới hạn tối đa */
    border: 2px solid #ddd; /* Đổi màu viền */
    border-radius: 8px; /* Bo góc viền */
    overflow: hidden; /* Ẩn các nội dung bên ngoài */
}

#category-menu{
    margin-top: 1vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Các nút hàng đầu lên trên */
    align-items: center;
    width: 90%; /* Chiều rộng linh hoạt */
    max-width: 600px;   /* Giới hạn tối đa */
}

#controls{
    margin-top: 1vh;
    display: flex;
    justify-content: space-around; /* Các nút hàng đầu lên trên */
    align-items: center;
}

#clothing-menu{
    width: 90%; /* Chiều rộng của menu quần áo */
    max-width: 590px;
    height: 200px;
    overflow-x: hidden; /* Cho phép cuộn ngang */
    overflow-y: auto; /* Ẩn cuộn dọc */
    border: 1px solid #ddd; /* Viền xám nhạt */
    border-radius: 8px; /* Bo tròn các góc */
    padding: 1px; /* Khoảng cách từ viền vào nội dung */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
}

button {
    margin: 1.5vh;
    padding: 1vh;
    width: 20vw; /* Chiều rộng linh hoạt */
    max-width: 120px; /* Giới hạn tối đa */
    height: 10vh; /* Chiều cao linh hoạt */
    max-height: 60px; /* Giới hạn tối đa */
    border-radius: 20px; /* Bo góc viền */
    color: rgb(0, 95, 63);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-size: 16px; /*kích cỡ chữ */
    text-align: center;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

button img{
    position: absolute;
    top: -3.5%;
    right: 49%;
    transform: translateY(-50%);
    transform: translateX(50%);
    width: 115%; /* Điều chỉnh kích thước hình ảnh */
    height: auto; /* Giữ tỷ lệ khung hình */
    object-fit: contain;
}

button:hover {
    border-color: #cc4100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button:active {
    border-color: #cc4100;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transform: scale(0.95);
}

.clothing-item{
    width: 21.3%;    /* Chiều rộng linh hoạt */
    max-width: 150px;   /* Giới hạn tối đa */
    height: 65%;  /* Chiều cao linh hoạt */
    max-height: 150px; /* Giới hạn tối đa */
    cursor: pointer;
    margin: 1vh;
    border: 1px solid #ddd;
    transition: border-color 0.3s ease; /* Hiệu ứng khi di chuột qua */
    }

.clothing-item:hover {
    border: 1px solid #4CAF50;
    border-color: #cc4100; /* Màu viền khi di chuột qua */
}
#category-menu button {
    margin: 1vh; /* Khoảng cách giữa các nút */
    border-radius: 20px;
    background-color: #27ffbe;
    color: rgb(0, 95, 32);
    cursor: pointer;
    transition: background-color 0.3s ease; /* Hiệu ứng màu nền */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#category-menu button:hover {
    background-color: #cc4100; /* Màu nền khi di chuột qua */
}

.hidden {
    display: none;
}

#background-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Đặt z-index để nó nằm sau canvas */
    width: 100%;
    height: 100%;
}

#background-image {
    width: 100%;
    height: 100%;
}

#meme-loading{
    position: absolute; /* Đặt hình ảnh tuyệt đối nằm bên trong clothing-menu */
    top: 50%;   /* Căn giữa theo chiều dọc */
    left: 50%;  /* Căn giữa theo chiều ngang */
    transform: translate(-50%, -50%);   /* Điều chỉnh để căn giữa */
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;    /*Điều chỉnh cho hình ảnh nằm gọn trong khung hình */
}
