body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #dcfff7;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#canvas-container {
    position: relative;
    width: 500px;
    height: 500px;
    border: 2px solid #ddd; /* Đổi màu viền */
    border-radius: 8px; /* Bo góc viền */
    overflow: hidden; /* Ẩn các nội dung bên ngoài */
}

#category-menu, #controls {
    margin-top: 20px;
    display: flex;
    justify-content: space-around; /* Các nút hàng đầu lên trên */
    align-items: center;
}

#clothing-menu{
    width: 720px; /* Chiều rộng của menu quần áo */
    height: 110px; /* Chiều cao của menu quần áo */
    overflow-x: auto; /* Cho phép cuộn ngang */
    overflow-y: hidden; /* Ẩn cuộn dọc */
    border: 1px solid #ddd; /* Viền xám nhạt */
    border-radius: 8px; /* Bo tròn các góc */
    padding: 5px; /* Khoảng cách từ viền vào nội dung */
    white-space: nowrap; /* Đảm bảo các mục không xuống dòng */
    align-items: center;  
}

button {
    margin: 10px;
    padding: 15px;
    width: 155px; /* Chiều rộng */
    height: 70px; /* Chiều cao */
    border-radius: 20px; /* Bo góc viền */
    color: rgb(0, 95, 63);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-size: 16px; /*kích cỡ chữ */
    text-align: center;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

button img{
    position: absolute;
    top: -5%;
    right: 49%;
    /*left: 0px; /* Điều chỉnh vị trí của hình ảnh */
    transform: translateY(-50%);
    transform: translateX(50%);
    width: 105%; /* Điều chỉnh kích thước hình ảnh */
    height: auto; /* Giữ tỷ lệ khung hình */
    object-fit: cover;
}

button:hover {
    /*background-color: #cc4100;*/
    border-color: #cc4100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button:active {
    border-color: #cc4100;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transform: scale(0.95);
}

.clothing-item{
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin: 5px;
    display: inline-block; /* Hiển thị các mục theo hàng ngang */
    border: 1px solid #ddd;
    transition: border-color 0.3s ease; /* Hiệu ứng khi di chuột qua */
}

.clothing-item:hover {
    border: 1px solid #4CAF50;
    border-color: #cc4100; /* Màu viền khi di chuột qua */
}
#category-menu button {
    margin: 10px; /* Khoảng cách giữa các nút */
    /*padding: 15px 20px; /* Kích thước nút */
    border-radius: 20px;
    background-color: #27ffbe;
    color: rgb(0, 95, 32);
    cursor: pointer;
    transition: background-color 0.3s ease; /* Hiệu ứng màu nền */
}

#category-menu button:hover {
    background-color: #cc4100; /* Màu nền khi di chuột qua */
}

.hidden {
    display: none;
}

#share-container {
    position: relative;
}

#share-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    padding: 10px;
}

#share-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#share-menu ul li {
    margin-bottom: 5px;
}

#share-menu ul li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
}

#share-menu ul li a:hover {
    background-color: #cc4100;
}

#background-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Đặt z-index để nó nằm sau canvas */
    width: 100%;
    height: 100%;
}

#background-image {
    width: 100%;
    height: 100%;
}
